/* Global */

html,
body {
  height: 100% !important;
  background: #000000;
  color: white;
}

.title-header {
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

#sessionCode {
  font-size: 35px !important;
  text-align: center;
  color: #efefef;
  padding: 20px;
  border: 1px solid #efefef !important;
  border-radius: 20px;
  background-color: #000000;
  font-family: Neucha, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

#sessionCode:focus {
  outline: none;
  border: 2px solid #efefef !important;
}

#sessionCode::placeholder {
  color: #efefef;
  font-family: Neucha, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.deal-button {
  font-size: 50px;
}

.card {
  border: none;
  border-radius: 45px;
  box-shadow: 0px 0px 10px -2px #cfcfcf;
}

.card:hover {
  box-shadow: 0px 0px 20px -2px #cfcfcf;
}
